.SVG-Container {
    height: 440px;
    width: 800px;
    border-radius: 10px;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* relative parent for stacking */
.SVG-Layer-Stack {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SVG-Layer {
    position: absolute;
    pointer-events: none; /* Let clicks pass through the SVG container */
}

.SVG-Layer svg * {
    pointer-events: auto; /* Re-enable clicks on actual SVG shapes */
}
